<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="robots" content="index, follow">
<meta name="description" content="Boomerang is a responsive website template based on the well known Bootstrap framework. It's very well structured with lots of features and demos ready to be used.">
<meta name="keywords" content="bootstrap, responsive, template, website, html, theme, ux, ui, web, design, developer, support, business, corporate, real estate, education, medical, school, education, demo, css, framework">
<meta name="author" content="Webpixels">

<title>Boomerang - Multipurpose Bootstrap Theme</title>

<!-- Favicon -->
<link href="../../assets/images/favicon.png" rel="icon" type="image/png">


</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar--bold  navbar-transparent navbar-inverse bg-dark ">
        <div class="container navbar-container">
            <!-- Brand/Logo -->
                         <a class="navbar-brand" href="#">
                            <%= image_tag('LP1_logo_thp.png') %>
                        </a>
            
        </div>
    </nav>

                    <!-- Slider -->
                    <section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset=".navbar">
    <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="coverflow" data-swiper-items="1" data-swiper-space-between="0">
        <div class="swiper-wrapper">

            <!-- Slide -->
            <div class="swiper-slide" data-swiper-autoplay="5000">
                <!-- Slide -->
                <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url( <%= asset_path 'index_courgette.jpg' %>); background-position: center; opacity: 0.8;">
                    <div class="container container-sm d-flex align-items-center">
                        <div class="col">
                            <div class="row py-5 text-center">
                                <div class="col col-xs-12">
                                      <h1 class="heading heading-1 strong-600 animated">
                                        Bienvenue sur l'index des landing pages </h1> 

                                         <h3 class="heading heading-2 strong-300 animated" data-animation-in="fadeInDownBig" data-animation-delay="500">
                                            De la Team Courgette
                                         </h3>

                                    <a href="/lp1" class="btn btn-styled btn-base-1 btn-circle mt-5 animated" data-animation-in="flipInY" data-animation-delay="1500" data-scroll-to="#scrollToSection">Landing Page - Étudiants</a>

                                    <a href="/lp2" class="btn btn-styled btn-base-1 btn-circle mt-5 animated" data-animation-in="flipInY" data-animation-delay="1500" data-scroll-to="#scrollToSection">Landing Page - Entrepreneurs</a>

                                    <a href="/lp3" class="btn btn-styled btn-base-1 btn-circle mt-5 animated" data-animation-in="flipInY" data-animation-delay="1500" data-scroll-to="#scrollToSection">Landing Page - Reconversion pro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>